<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Layer Objects</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Layer Objects</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ElementTypeList", "Objects")">Элементы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AddElementType", "Objects")">Мастер</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex justify-content-end align-items-center">
                <li>
                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid placeholders">
        @RenderBody()

        <hr />
        <footer class="container py-5">
            <p><a href="https://www.sphaera.ru">ЗАО "Сфера"</a> 111524, г. Москва, Электродная ул., д. 10  <a href="mailto:info@sphaera.ru">info@sphaera.ru</a></p>
            <p>
                <a href="#">Наверх</a>
            </p>
        </footer>



    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @section Scripts
{

    }
</body>
</html>
